<swiper-container
  slides-per-view="1"
  pagination="true"
  loop="true"
  autoplay="true"
  style="width: 100%; height: 500px"
>
  <swiper-slide *ngFor="let photo of houseDetails?.photo">
    <img
      [src]="photo"
      alt="Exterior photo of {{houseDetails?.name}}"
      style="width: 100%; height: 100%; object-fit: cover"
    />
  </swiper-slide>
</swiper-container>
<div>
  <h2>{{ houseDetails?.name }}</h2>
  <p>{{ houseDetails?.city }}</p>
</div>

<div>
  <h2>About this housing location</h2>
  <ul>
    <li>Houses: {{ houseDetails?.availableUnits }}</li>
    <li>Wifi: {{ houseDetails?.wifi }}</li>
    <li>Laundry: {{ houseDetails?.laundry }}</li>
  </ul>
</div>
<button (click)="onApply()">Rent</button>
<div *ngIf="apply">
  <h2>Apply now to Recieve Details</h2>
  <form [formGroup]="applyForm" (submit)="submitApplication()">
    <label for="first-name">*First Name</label>
    <input id="first-name" type="text" formControlName="firstName" />
    <div
      *ngIf="applyForm.get('firstName')?.hasError('required') && applyForm.get('firstName')?.touched"
    >
      <small>Firstname is Required</small>
    </div>

    <label for="last-name">*Last Name</label>
    <input id="last-name" type="text" formControlName="lastName" />
    <div
      *ngIf="applyForm.get('lastName')?.hasError('required') && applyForm.get('lastName')?.touched"
    >
      <small>Lastname is Required</small>
    </div>
    <label for="email">*Email</label>
    <input id="email" type="email" formControlName="email" />
    <div
      *ngIf="applyForm.get('email')?.hasError('required') && applyForm.get('email')?.touched"
    >
      <small>Email is Required</small>
    </div>
    <div
      *ngIf="applyForm.get('email')?.hasError('email') && applyForm.get('email')?.touched && applyForm.get('email')?.dirty"
    >
      <small>Enter a Valid Email</small>
    </div>
    <button type="submit">Apply now</button>
  </form>
</div>
