<div class="auth-container">
  <mat-card class="auth-card">
    <div class="logo-container">
      <span class="logo">🏠</span>
      <h2 class="title">
        {{ isLogin ? 'Housing Society Login' : 'Housing Society Sign Up' }}
      </h2>
    </div>
    <div *ngIf="LoginForm.hasError('invalidLogin')" class="error-text">
      Invalid username or password
    </div>
    <form *ngIf="isLogin" [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          formControlName="username"
          placeholder="Enter username"
        />
        <mat-error
          *ngIf="LoginForm.get('username')?.hasError('required') && (LoginForm.get('username')?.touched || LoginForm.get('username')?.dirty)"
        >
          Username is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Enter password"
        />
        <mat-error
          *ngIf="LoginForm.get('password')?.hasError('required') && (LoginForm.get('password')?.touched || LoginForm.get('password')?.dirty)"
        >
          Password is required
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="auth-btn">Login</button>

      <p class="switch-text">
        Don't have an account?
        <a (click)="toggleForm()">Sign Up</a>
      </p>
    </form>

    <form *ngIf="!isLogin" [formGroup]="SignupForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>User Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
          placeholder="Username"
        />
        <mat-error
          *ngIf="SignupForm.get('name')?.hasError('required') && (SignupForm.get('name')?.touched || SignupForm.get('name')?.dirty)"
        >
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Enter email"
        />
        <mat-error
          *ngIf="SignupForm.get('email')?.hasError('required') && (SignupForm.get('email')?.touched || SignupForm.get('email')?.dirty)"
        >
          Email is required
        </mat-error>
        <mat-error
          *ngIf="SignupForm.get('email')?.hasError('email') && (SignupForm.get('email')?.touched || SignupForm.get('email')?.dirty)"
        >
          Enter a valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Enter password"
        />
        <mat-error
          *ngIf="SignupForm.get('password')?.hasError('required') && (SignupForm.get('password')?.touched || SignupForm.get('password')?.dirty)"
        >
          Password is required
        </mat-error>
      </mat-form-field>

      <div *ngIf="SignupForm.hasError('emailExists')" class="error-text">
        Email already exists
      </div>

      <button mat-raised-button color="primary" class="auth-btn">
        Sign Up
      </button>

      <p class="switch-text">
        Already have an account?
        <a (click)="toggleForm()">Login</a>
      </p>
    </form>
  </mat-card>
</div>
